---
title: Forside
---
<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			{% if post.image %}
				<div class="image">
					<a href="{{ post.url }}" title="{{ include.post.title | escape }}"><img src="{{ post.image | image_scale: 780, 780 }}" alt="{{ post.title }}" loading="lazy" class="featured-image" /></a>
				</div>
			{% endif %}

			<div class="recipe-body">
				{{ post.excerpt }}

				<p><a class="button" href="{{ post.url }}">Læs mere</a></p>
			</div>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="previous btn">&larr; Se nyere</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} af {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="next btn">Se flere &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
