/** Italic **/
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Fira Sans Thin Italic'), local('FiraSans-ThinItalic'), url(/css//fonts/FiraSans/FiraSans-ThinItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'), url(/css//fonts/FiraSans/FiraSans-ExtraLightItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Fira Sans Light Italic'), local('FiraSans-LightItalic'), url(/css//fonts/FiraSans/FiraSans-LightItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(/css//fonts/FiraSans/FiraSans-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Sans Medium Italic'), local('FiraSans-MediumItalic'), url(/css//fonts/FiraSans/FiraSans-MediumItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'), url(/css//fonts/FiraSans/FiraSans-SemiBoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold Italic'), local('FiraSans-SemiBoldItalic'), url(/css//fonts/FiraSans/FiraSans-SemiBoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold Italic'), local('FiraSans-BoldItalic'), url(/css//fonts/FiraSans/FiraSans-BoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Fira Sans ExtraBold Italic'), local('FiraSans-ExtraBoldItalic'), url(/css//fonts/FiraSans/FiraSans-ExtraBoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Fira Sans Black Italic'), local('FiraSans-BlackItalic'), url(/css//fonts/FiraSans/FiraSans-BlackItalic.woff2) format('woff2');
}

/** Regular **/
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Fira Sans Thin'), local('FiraSans-Thin'), url(/css//fonts/FiraSans/FiraSans-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url(/css//fonts/FiraSans/FiraSans-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Fira Sans Light'), local('FiraSans-Light'), url(/css//fonts/FiraSans/FiraSans-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(/css//fonts/FiraSans/FiraSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(/css//fonts/FiraSans/FiraSans-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url(/css//fonts/FiraSans/FiraSans-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url(/css//fonts/FiraSans/FiraSans-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(/css//fonts/FiraSans/FiraSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Fira Sans ExtraBold'), local('FiraSans-ExtraBold'), url(/css//fonts/FiraSans/FiraSans-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Fira Sans Black'), local('FiraSans-Black'), url(/css//fonts/FiraSans/FiraSans-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(/css//fonts/FiraSans/FiraSans-Regular.woff2) format('woff2');
}
