---
layout: default
---
<article class="post" id="main-content">
	{% include post-heading.html post=page post_page=true %}
	{% if page.image %}
	<div class="image">
		<img src="{{ page.image | image_scale: 780, 780 }}" alt="{{ page.title }}"  class="featured-image" />
	</div>
	{% endif %}

	<div class="recipe-body">
		{{ content }}
	</div>

	{% if page.recipe.servings or page.recipe.prep or page.recipe.cook %}
	<ul id="recipe" class="recipe-overview">
		{% if page.recipe.servings %}
			<li title="Portioner">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
		{% endif %}
		{% if page.recipe.prep %}
			<li title="Forberedelsestid">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
		{% endif %}
		{% if page.recipe.cook %}
			<li title="Tilberedningstid">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
		{% endif %}
	</ul>
	{% endif %}

	{% if page.recipe.ingredients_markdown or page.recipe.directions_markdown %}
	<div class="recipe-contents">
		{% if page.recipe.ingredients_markdown %}
		<div class="ingredients">
			<h2>Ingredienser</h2>
			{{ page.recipe.ingredients_markdown | markdownify }}
		</div>
		{% endif %}

		{% if page.recipe.directions_markdown %}
		<div class="directions">
			<h2>Fremgangsmåde</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div>
		{% endif %}
	</div>
	{% endif %}

	<div class="sharing">
		{% assign share_url = page.url | absolute_url | cgi_escape %}
		<a class="facebook" rel="noreferrer" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">{% include social-icon.html icon="Facebook" %}</a>
		<a class="twitter" rel="noreferrer" href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I'm%20going%20to%20this%20event!">{% include social-icon.html icon="Twitter" %}</a>
		<!-- <a class="instagram" rel="noreferrer" href="https://instagram.com">{% include social-icon.html icon="Instagram" %}</a> -->
		<!-- <a class="pinterest" rel="noreferrer" href="//pinterest.com/pin/create/link/?url={{ share_url }}&amp;description={{ page.description }}">{% include social-icon.html icon="Pinterest" %}</a> -->
		<!-- <a class="email" rel="noreferrer" href="mailto:?subject=I've%20found%20a%20great%20recipe&amp;body=Check%20it%20out%20-%20{{ share_url }}">{% include social-icon.html icon="Email" %}</a> -->
	</div>

	<div class="cta">
		<h2>Flere lækre opskrifter</h2>
		<p>Dette er blot en af mange opskrifter på Mad forandrer</p>
		<div class="button"><a href="/opskrifter">Se flere opskrifter</a></div>
	</div>
	{% if site.disqus_shortname and page.comments %}
		<div id="disqus_thread"></div>
		<script>
			var disqus_shortname = '{{ site.disqus_shortname }}';
			var disqus_config = function () {
				this.page.url = "{{ page.url | prepend: site.url }}";
				this.page.identifier = "{{ page.id }}";
			};
			(function() {  // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	{% endif %}
</article>

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 -->